.formControl {
    .error {
        & input {
            width: 200px;
        }
        & textarea {
            border: solid red 3px;
        }
        & span {
            color: red;
        }
    }
    .element {
        & input {
            width: 200px;
            color: red;
        }
    }

}

input {
    background-color: red;
}