.header {
    grid-area: h;
    background-color: #7a1a81;
    border-radius: 10px;
}
.header img {
    width: 40px;
    padding-left: 15px;
    padding-top: 8px;
}

.loginBlock {
    float: right;
    color: white;
}

.loginBlock a {
    color: white;
    padding-right: 15px;
}

.loginBlock button {
    height: 35px;
    margin: 10px;
}