.header {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 100px;
  box-sizing: border-box;

  .mainBlock {
    width: 100%;
    height: 400px;

    .rotateBlock {
      transform: rotate(90deg);
      margin: 0;
      .loginBlock {
        width: 350px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .iconOut {
          cursor: pointer;
          color: white;
          font-size: 40px;
          height: 40px;
          width: 40px;
          transform: rotate(-90deg);
        }
        .iconIn {
          padding-top: 5px;
          cursor: pointer;
          color: white;
          font-size: 40px;
          height: 40px;
          width: 40px;
          transform: rotate(-90deg);
        }

        .userName {
          margin-top: 10px;
          height: 40px;
          font-family: 'Arimo', sans-serif;
          font-size: 20px;
          font-weight: 700;
          letter-spacing: 10px;
          color: white;
          text-transform: lowercase;
        }
      }

      & a {
        color: white;
        padding-right: 15px;
      }
    }
  }
}
