.nav {
    grid-area: n;
    background-color: #30063b;
    border-radius: 20px;
    padding: 30px;
}

.item {
    color: white;
    text-decoration: none;
}

.active {
    color: gold;
    text-decoration: none;
}
