.app {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: #e2e2e2;
  position: relative;
  .headerContainer {
    background-color: #18191d;
    //display: flex;
    width: 5%;
    height: 100%;
    position: absolute;
    right: 0;
    //right: 0;
  }

  .appContainer {
    width: 1200px;
    height: 710px;
    border-radius: 10px;
    background-color: #18191d;

    .bodyContainer {
      display: flex;
      flex-direction: row;
      height: 90%;
      width: 100%;
    }
  }
}