.app {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #5d146e;

  .appContainer {
    width: 1400px;
    height: 900px;
    .headerContainer {
      height: 10%;
      position: relative;
    }
    .bodyContainer {
      display: flex;
      flex-direction: row;
      height: 90%;
      width: 100%;
    }
  }
}